body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
    color: black;
}

.banner {
    background-color: lightpink;
    padding: 10px;
    display: flex;
  justify-content: flex-end;}

.banner a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.banner a:hover {
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.main-section {
    padding: 20px;
}

.fund-my-startup {
    /*background-image: url("https://imagesunsplash.com/photo-1588856122867-363b0aa7f598?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1073&q=80");*/
    background-image: url("https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    text-align: center;
    background-color: black;
    padding: 100px 0;
    color: #d96767;

    width: 100vw;
    height: 30vh;
}

.fund-my-startup h1 {
    font-size: 40px;
    margin: 0;
}

.about-us, .motivation, .contact, .feedback {
    margin-top: 40px;
}

.about-us h2, .motivation h2,  .contact h2,  .feedback h2{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}
