<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">

</head>
<body>

<div class="banner">
    <a href="{% url 'index' %}">Home</a>
    <a href="#">About Us</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'Registration' %}">Registration</a>


</div>

<p>We would love to hear from you.</p>
<p>If you have any questions, please contact us. We would be happy to help you.</p>
<p>For Email:
    <a href="mailto:info@fundmystartup.com">info@fundmystartup.com</a></p>
<p>To directly contact us</p>
<p>Phone: +1 212 555 1212</p>

<p>We are also available of social media at.
    "https://www.facebook.com/FundMyStartup"
<p>And also in.
    "https://www.instagram.com/FundMyStartup/"
</p>

<p>To directly contact us visit.
   Gulshan 2, Hamind Tower, Dhaka 1217</p>


</body>
</html>