<!DOCTYPE html>

{% load static %}
<html>
<head>
    <title>Entrepreneur Profile - Fund My Startup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/entre.css' %}">
</head>
<body>

<div class="banner">
    <a href="#">Home</a>
    <a href="#">About Us</a>
    <a href="#">Contact</a>
    <a href="#">Profile</a>
    <a href="#">Message</a>
    <a href="{% url 'logout' %}">Log Out</a>

</div>
<div class="profile-container">
    <h1>Entrepreneur Profile</h1>

    <section class="notification">
        <h2>Notifications</h2>
        <!-- Add notification content here -->
    </section>

    <section class="message-notification">
        <h2>Message Notifications</h2>
        <!-- Add message notification content here -->
    </section>

    <section class="startup-details">
        <h2>Startup Details</h2>
        <h3>{{ title }}</h3>
        <p>Equity: {{ equity }}</p>
        <p>Sales: {{ sales }}</p>
        <p>Owner(s): {{ owner }}</p>
        <p>Profit-Margin: {{ profit_margin }}</p>
        <p>Debts: {{ debts }}</p>
        <p>Fundings Required: {{ funding_required }}</p>
        <!-- Add more details here -->
    </section>
</div>
</body>
</html>
