<!DOCTYPE html>

{% load static %}
<html>
<head>
    <title>Entrepreneur Profile - Fund My Startup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/entre.css' %}">
</head>
<body>

<div class="banner">
    <a href="{% url 'entreprePro' %}">Home</a>
    <a href="#">About Us</a>
    <a href="#">Contact</a>
    <a href="#">Profile</a>
    <a href="#">Message</a>
    <a href="{% url 'logout' %}">Log Out</a>
    <a href="{% url 'startup' %}">Create startup</a>
    <a href="{% url 'chat' %}">Chat</a>
  {% if messages %}
        {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
<div class="profile-container">
    <h1>Entrepreneur Profile</h1>

    <section class="notification">
        <h2>Notifications</h2>
        <!-- Add notification content here -->
    </section>

    <section class="message-notification">
        <h2>Message Notifications</h2>
        <!-- Add message notification content here -->
    </section>

    <section class="startup-details">
        <h2>Startup Details</h2>
{% for i in mydata %}
        <div class="startup-details-container">
            <div class="startup-details-item">
                <h3>Startup Title : {{i.title}}</h3>
            </div>
            <div class="startup-details-item">
                <h3>Equity : {{i.Equity}}</h3>

            </div>
            <div class="startup-details-item">
                <h3>Funding : {{i.funding}}</h3>

            </div>
            <div class="startup-details-item">
                <h3>Sales : {{i.Sales}}</h3>
            </div>
            <div class="startup-details-item">
                <h3>Owner : {{i.owner}}</h3>

            </div>
            <div class="startup-details-item">
                <h3>Profit : {{i.profit}} </h3>

            </div>
            <div class="startup-details-item">
                <h3>Debts : {{i.debts}}</h3>
            </div>
        </div>
<hr>
        <br>
        <hr>
        {% endfor %}
    </section>
</div>
</body>
</html>
