<!DOCTYPE html>

{% load static %}
<html>
<head>
    <title>Investor Profile - Fund My Startup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/invesPro.css' %}">
</head>
<body>
  {% if messages %}
        {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
<div class="banner">
    <a href="{% url 'investor_Profile' %}">Home</a>
    <a href="#">Message</a>
    <a href="{% url 'logout' %}">Log Out</a>
    <a href="{% url 'home' %}">Chat</a>

</div>
    <div class="profile-container">
        <h1>Investor Profile</h1>

        <section class="notification">
            <h2>Notifications</h2>
            {% for i in startups %}
            <div>
            <div class="startup-details-container">
                <div class="startup-details-item">
                    <h3>Startup Title : {{i.title}}</h3>
                </div>
                <div class="startup-details-item">
                    <h3>Equity : {{i.Equity}}</h3>

                </div>
                <div class="startup-details-item">
                    <h3>Funding : {{i.funding}}</h3>

                </div>
                <div class="startup-details-item">
                    <h3>Sales : {{i.Sales}}</h3>
                </div>
                <div class="startup-details-item">
                    <h3>Owner : {{i.owner}}</h3>

                </div>
                <div class="startup-details-item">
                    <h3>Profit : {{i.profit}} </h3>

                </div>

                <div class="startup-details-item">
                    <h3>Debts : {{i.debts}}</h3>
                </div>
<!--                <form action="" method="post">-->
<!--                    {% csrf_token %}-->
<!--                    <input type="hidden" name="startup_id" value="{{i.id}}">-->
<!--                    <input type="hidden" name="investor_id" value="{{user.id}}">-->
<!--                    amount: <input type="text" name="amount" value="0">-->

<!--                    <input type="submit" value="Show Interest">-->
<!--                </form>

    -->

                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="startup_id" value="{{i.id}}">
                    <input type="hidden" name="investor_id" value="{{user.id}}">
                    amount: <input type="text" name="amount" value="0">

                    <input type="submit" value="Show Interest">
            </div>

                <hr>
            {% endfor %}
        </section>

        <section class="message-notification">
            <h2>Message Notifications</h2>
            <!-- Add message notification content here -->
        </section>

            <!-- Add more invested startups here -->
        </section>
    </div>
</body>
</html>
