<!DOCTYPE html>

{% load static %}
<html>
<head>
    <title>Investor Profile - Fund My Startup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/invesPro.css' %}">
</head>
<body>
  {% if messages %}
        {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
<div class="banner">
    <a href="#">Home</a>
    <a href="#">About Us</a>
    <a href="#">Contact</a>
    <a href="#">Profile</a>
    <a href="#">Message</a>
    <a href="{% url 'logout' %}">Log Out</a>

</div>
    <div class="profile-container">
        <h1>Investor Profile</h1>

        <section class="notification">
            <h2>Notifications</h2>
            {% for i in startups %}
            <div>
            <div class="startup-details-container">
                <div class="startup-details-item">
                    <h3>Startup Title : {{i.title}}</h3>
                </div>
                <div class="startup-details-item">
                    <h3>Equity : {{i.Equity}}</h3>

                </div>
                <div class="startup-details-item">
                    <h3>Funding : {{i.funding}}</h3>

                </div>
                <div class="startup-details-item">
                    <h3>Sales : {{i.Sales}}</h3>
                </div>
                <div class="startup-details-item">
                    <h3>Owner : {{i.owner}}</h3>

                </div>
                    <-- need a button to show interested -->
                </div>
                <hr>
            {% endfor %}
        </section>

        <section class="message-notification">
            <h2>Message Notifications</h2>
            <!-- Add message notification content here -->
        </section>

        <section class="invested-startups">
            <h2>Invested Startups</h2>
            <div class="startup-box">
                <h3>Startup Name 1</h3>
                <p>Invested Money: $10000</p>
                <p>Time: 12 months</p>
                <p>Profit Rate: 10%</p>
                <!-- Add graph here -->
            </div>

            <div class="startup-box">
                <h3>Startup Name 2</h3>
                <p>Invested Money: $5000</p>
                <p>Time: 6 months</p>
                <p>Profit Rate: 8%</p>
                <!-- Add graph here -->
            </div>
            <!-- Add more invested startups here -->
        </section>
    </div>
</body>
</html>
