{##}
{#<!DOCTYPE html>#}
{#{% load static %}#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UFT=8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewpoint" content="width=device-width, intial-scale=1.0">#}
{#    <title>#}
{#        Website Wtih Login#}
{#    </title>#}
{#    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">#}
{##}
{#</head>#}
{##}
{#<body>#}
{#    <header>#}
{#        <h2 class="logo">FundMyStartup</h2>#}
{#        <nav class="navigation">#}
{#            <a href="#">Home</a>#}
{#            <a href="#">Services</a>#}
{#            <a href="#">Contact</a>#}
{#            <button class="btnLogin-popup">Login</button>#}
{#        </nav>#}
{#    </header>#}
{#<form action="{% url 'login' %}" method="post">#}
{#    {% csrf_token %}#}
{#    <label for="email">Email</label>#}
{#    <input type="email" name="email" id="email" placeholder="Enter your email">#}
{#    <label for="password">Password</label>#}
{#    <input type="password" name = 'password' id="password" placeholder="Enter your password">#}
{#    <input type="submit" value="Login" name="submit" id="submit">#}
{##}
{##}
{#</form>#}
{##}
{#    <script src="script.js"></script>#}
{#    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>#}
{#    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>#}
{#</body>#}
{#</html>#}


<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Login - Fund My Startup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="banner">
    <a href="#">Home</a>
{#    <a href="#">Login</a>#}
    <a href="#">About Us</a>
    <a href="#">Contact</a>
    <a href="#">Registration</a>
</div>


<div class="login-container">
    <h1>Login</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="#">Register here</a></p>
</div>
</body>
</html>
