<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UFT=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, intial-scale=1.0">
    <title>
        Website Wtih Registration
    </title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

</head>

<body>
<div class="main">
<div class="registration">
    <h2>Register Here</h2>
    <form id="register" method="post">
    <label>First Name : </label>
    <br>
    <input type="text" name="fname" id="namef" placeholder="Enter your first name">
    <br><br>
    <label>Last Name : </label>
    <br>
    <input type="text" name="lname" id="namel" placeholder="Enter your last name">
    <br><br>
    <label>Your Age : </label>
    <br>
    <input type="number" name="age" id="ages" placeholder="How old are you?">
    <br><br>
    <label>Email: </label>
    <br>
    <input type="email" name="email" id="emails" placeholder="Enter your email">
    <br><br>
    <label>Contact number: </label>
    <br>
    <input type="text" name="contact number" id="phone" placeholder="Contact number">
    <br><br>
    <label>NID number: </label>
    <br>
    <input type="text" name="NID" id="National ID" placeholder="NID number">
    <br><br>
    <label>Password: </label>
    <br>
    <input type="text" name="Password" id="Pass" placeholder="Enter you password">
    <br><br>
    <label>Confrim Password: </label>
    <br>
    <input type="text" name="Password" id="ConPass" placeholder="Confrim your password">
    <br><br>
    <input type="submit" value="Submit" name="submit" id="submit">
    </form>
</div>
</div>
</body>
<html>