<!DOCTYPE html>

{% load static %}
<html>
<head>
    <title>Registration - Fund My Startup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reg.css' %}">
</head>
<body>
    <div class="banner">
    <a href="#">Home</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="#">About Us</a>
    <a href="#">Contact</a>
{#    <a href="#">Registration</a>#}
</div>
  {% if messages %}
        {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="registration-container">
        <h1>Registration</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label for="user_type">I am:</label>
            <select id="user_type" name="user_type" required>
                <option value="" disabled selected>Select</option>
                <option value="investor">Investor</option>
                <option value="entrepreneur">Entrepreneur</option>
            </select>

            <label for="username">Username :</label>
            <input type="text" id="username" name="username" required>

            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" required>

            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" required>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required>

            <label for="nid_number">NID Number:</label>
            <input type="text" id="nid_number" name="nid_number" required>

            <label for="nid_image">NID Image:</label>
            <input type="file" id="nid_image" name="nid_image" accept="image/*" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="password2">Confirm Password:</label>
            <input type="password" id="password2" name="password2" required>

            <input type="submit" value="Register">
        </form>
        <p>Already have an account? <a href="#">Login</a></p>
    </div>
</body>
</html>
