<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UFT=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, intial-scale=1.0">
    <title>
        Website Wtih update user
    </title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

</head>

<body>
<div class="main">
<div class="update user">
    <h2>Update User</h2>
    <form id="update" method="post">
    <label>First Name : </label>
    <br>
    <input type="text" name="fname" id="fname" value=args>
    <br><br>
    <label>Last Name : </label>
    <br>
    <input type="text" name="lname" id="lname" placeholder="Enter your last name">
    <br><br>
    <label>Email: </label>
    <br>
    <input type="email" name="email" id="emails" placeholder="Enter your email">
    <br><br>
    <label>Profile Picture: </label>
    <br>
    <input type="submit" value="Choose File" name="choose file" id="submits">
    <br><br>
     <label>Website: </label>
     <br>
     <input type="text" name="web" id="webiste">
     <br><br>
    <label>Password: </label>
    <br>
    <input type="text" name="Password" id="pass1" placeholder="Enter you password">
    <br><br>
    <label>Confrim Password: </label>
    <br>
    <input type="text" name="Password" id="pass2" placeholder="Confrim your password">
    <br><br>
    <input type="submit" value="Update" name="update" id="submit">
    </form>
</div>
</div>
</body>
<html>